@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background: url('https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.open {
  animation: asideOpen 1.5s ease;
  display: block;
}

.close {
  animation: asideClose 1.5s ease;
}

@keyframes asideOpen {
    to {
      transform: translate(0%);
    }
    from{
      transform: translate(-100%);
    }
}

@keyframes asideClose {
  to {
    transform: translate(-100%);
  }
  from{
    transform: translate(0%);
  }
}